<launch>
  <node name="lightness_data_listener_detector"
        pkg="online_changepoint_detector" type="my_data_listener_detector.py"
        output="screen">
    <remap from="~spectrum" to="/lightness_extraction/output/hist" />
    <rosparam>
      data_selection_type: average
    </rosparam>
  </node>
  <node name="sound_data_listener_detector"
        pkg="online_changepoint_detector" type="my_data_listener_detector.py">
    <remap from="~spectrum" to="/audio_to_spectrum/spectrum_filtered" />
    <rosparam>
      data_selection_type: max
    </rosparam>
  </node>
</launch>
